<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheet/editor.css"/>
    <link rel="stylesheet" href="stylesheet/style.css"/>
  </head>
  <body>
    
    <header>
      <button onclick="renderHtml(editor.getValue())">
        <i class="fas fa-sync"></i> Render</button>
      <button onclick="printFrame()" title="Print">
        <i class="fas fa-print"></i></button>
      <button onclick="saveFile()" title="Save Html file">
        <i class="fas fa-download"></i> Html</button>
      <button onclick="saveFileMd()" title="Save to Markdown file">
        <i class="fas fa-download"></i> Md</button>
      <select id="selectTmpl" onchange="return getFile()"></select>
      <button id="toggleFullEditor" onclick="toggleFullEditor()" title="Full screen editor">
        <i class="fas fa-expand"></i></button>
      <button onclick="externalWindow()" title="Open on external window">
        <i class="fas fa-external-link-alt"></i></button>
      
      <script src="https://button.glitch.me/button.js"></script>
      <div class="glitchButton" style="height:50px"></div>
    </header>
    <main>
      <textarea id="content" cols="30" rows="10">## Markdown + Exteroids


**Description:**

When you need an editor with Markdown but you need add a grid or buttons or custom blocks this is  for you, simple and usefull.


**Installation:**


	git clone https://github.com/monchovarela/Markdown-with-exteroids
	cd  Markdown-with-exteroids
	npm start
      
      </textarea>
      <iframe id="preview" src="./preview" frameborder="0"></iframe>
    </main>



    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.3.5/split.min.js"></script>
    <script src="javascript/editor.js"></script>
    <script src="javascript/client.js"></script>

  </body>
</html>
